<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuofeng.petsweb.dao.TPostMapper" >
  <resultMap id="BaseResultMap" type="com.zhuofeng.petsweb.entity.TPost" >
    <id column="post_id" property="postId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="updated" property="updated" jdbcType="VARCHAR" />
    <result column="replycount" property="replycount" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="contactname" property="contactname" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="BIGINT" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="pet_type" property="petType" jdbcType="INTEGER" />
    <result column="author_id" property="authorId" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="tag_id" property="tagId" jdbcType="BIGINT" />
    <result column="author" property="author" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    post_id, title, summary, updated, replycount, description, contactname, phone, city, 
    address, pet_type, author_id, type_id, tag_id, author
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_post
    where post_id = #{postId,jdbcType=INTEGER}
  </select>
  <select id="selectByTag" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from t_post
    where tag_id = #{tagId,jdbcType=BIGINT}
  </select>

  <select id="listUserPost" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from t_post where author_id = #{authorId,jdbcType=INTEGER}

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_post
    where post_id = #{postId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhuofeng.petsweb.entity.TPost" >
    insert into t_post (post_id, title, summary, 
      updated, replycount, description, 
      contactname, phone, city, 
      address, pet_type, author_id,type_id,tag_id,author
      )
    values (#{postId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{updated,jdbcType=VARCHAR}, #{replycount,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{contactname,jdbcType=VARCHAR}, #{phone,jdbcType=BIGINT}, #{city,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{petType,jdbcType=INTEGER}, #{authorId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER },
      #{tagId,jdbcType=BIGINT}, #{author,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhuofeng.petsweb.entity.TPost" >
    insert into t_post
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        post_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="updated != null" >
        updated,
      </if>
      <if test="replycount != null" >
        replycount,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="contactname != null" >
        contactname,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="petType != null" >
        pet_type,
      </if>
      <if test="authorId != null" >
        author_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="author != null">
        author,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=VARCHAR},
      </if>
      <if test="replycount != null" >
        #{replycount,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="contactname != null" >
        #{contactname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=BIGINT},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="petType != null" >
        #{petType,jdbcType=INTEGER},
      </if>
      <if test="authorId != null" >
        #{authorId,jdbcType=INTEGER},
      </if>
      <if test="typeId !=null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="tagId !=null">
        #{tagId,jdbcType=BIGINT},
      </if>
      <if test="author !=null">
        #{author,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuofeng.petsweb.entity.TPost" >
    update t_post
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=VARCHAR},
      </if>
      <if test="replycount != null" >
        replycount = #{replycount,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="contactname != null" >
        contactname = #{contactname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=BIGINT},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="petType != null" >
        pet_type = #{petType,jdbcType=INTEGER},
      </if>
      <if test="authorId != null" >
        author_id = #{authorId,jdbcType=INTEGER},
      </if>
      <if test="typeId !=null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="tagId !=null">
        tag_id= #{tagId,jdbcType=BIGINT},
      </if>
      <if test="author !=null">
        author= #{author,jdbcType=VARCHAR},
      </if>
    </set>
    where post_id = #{postId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuofeng.petsweb.entity.TPost" >
    update t_post
    set title = #{title,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      updated = #{updated,jdbcType=VARCHAR},
      replycount = #{replycount,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      contactname = #{contactname,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=BIGINT},
      city = #{city,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      pet_type = #{petType,jdbcType=INTEGER},
      author_id = #{authorId,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      tag_id= #{tagId,jdbcType=BIGINT},
      author= #{author,jdbcType=VARCHAR}
    where post_id = #{postId,jdbcType=INTEGER}
  </update>
</mapper>